stereo_correspondence/output/**
stereo_correspondence/.idea/**
stereo_correspondence/input_images/**
faceDetection/.idea/**
faceDetection/input_images/**
object_tracking/input_images/**
object_removal/image_states/**
object_removal/resources.zip
.idea/**
**.ipynb
traffic_sign_detection/out/**
classification/data/**


